@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-secondary: #3b82f6;
  --color-secondary-content: #ffffff;
}

[data-theme="light"] {
  --color-secondary: #3b82f6;
  --color-secondary-content: #ffffff;
}

[data-theme="dark"] {
  --color-secondary: #60a5fa;
  --color-secondary-content: #ffffff;
}